#logo{display: inline-block; text-align:center; width: 30px;} 

header nav ul {display: block; margin: 20px;}

header nav ul li {display: inline-block; margin: 10px; font-size: 50px; color: black; padding: 5px;} 

section {display: block;}

h1{font-size: 35px; text-align: center;}

body{background-color: red; font-size: 25px; }

a {text-decoration: none; color: black; font-size: 30px;}
a:hover {background-color: black; color: azure;}


    header{display: block;}
header div {display: inline-block;}
header nav{display: inline-block;}

header img{width: 100px; }


article {color: white; background: black; font-size: 20px; border: 15px #cccccc solid; padding: 20px; margin: 100px 0px; display: inline-block;} 

article > div {
    display: inline-block;
    margin: 10px;
    vertical-align: top;}

article img { width: 159px; height: 159px; float: right;}






